<div class="card controls" ng-show="shows.length > 0">
	<ul class="list list-inline">
		<li>
			<label class="checkbox">
				<input type="checkbox" ng-model="oneAtATime" ng-change="SaveOneAtATime(oneAtATime)">
				Open only one at a time
			</label>
		</li>
		<li class="hidden-xs">
			<button class="btn btn-default btn-sm" ng-click="openAll(true)">Show all</button>
		</li>
		<li class="hidden-xs">
			<button class="btn btn-default btn-sm" ng-click="openAll(false)">Close all</button>
		</li>
	</ul>
</div>

<div class="card seasons" ng-show="shows.length > 0">
	<accordion close-others="oneAtATime">
	<accordion-group ng-repeat="show in shows track by show.showid | orderByName" ng-if="show.seasons.length > 0" is-open="show.status">
		<accordion-heading>
		{{ show.name }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': show.status, 'glyphicon-chevron-right': !show.status}"></i>
		</accordion-heading>

		<p class="text-right" ng-show="show.seasons.length > 1"><a href="" ng-click="markShowWatched(show)">Mark all episodes of <em>{{ show.name }}</em> as {{ ::watchedText }}.</a></p>

		<tabset>
		<tab ng-repeat="season in show.seasons | orderBy: 'season'">
			<tab-heading>
			Season {{ ::season.season }}
			</tab-heading>
			<p class="text-right" ng-show="season.episodes.length > 1"><a href="" ng-click="markSeasonWatched(season, show)">Mark <em>season {{ ::season.season }}</em> of <em>{{ show.name }}</em> as {{ ::watchedText }}.</a></p>
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Nr</th>
						<th>Title</th>
						<th>Airdate</th>
						<th>Watched</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="episode in season.episodes track by episode.episodeid | orderBy: 'episode'">
						<td>{{ ::episode.episode }}</td>
						<td>{{ ::episode.title }}</td>
						<td>{{ ::episode.airdate | date: dateFormat }}</td>
						<td>
							<span class="glyphicon pointer" tooltip-popup-delay="500" tooltip="mark as {{ ::watchedText }}" ng-click="markEpisodeWatched(episode, season, show)" ng-class="{'glyphicon-minus': !watched, 'text-danger': !watched, 'glyphicon-plus': watched, 'text-success': watched}"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</tab>
		</tabset>
	</accordion-group>
</accordion>
</div>

<div class="card" ng-if="shows.length == 0">
	<p>You do not have any {{ notWatchedText }} episodes.</p>
</div>