@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
$fa-font-path:   "../fonts/FontAwesome";

@import "font-awesome/font-awesome";
@import "custom/variables";
@import "custom/card";
@import "bootstrap/bootstrap";
@import "custom/flex";
@import "custom/spinner";
@import "custom/search";
@import "custom/show";
@import "custom/notifications";
@import "custom/footer";
@import "custom/today";
@import "custom/page_header";
@import "custom/signup";
@import "custom/profile";
@import "custom/navbar";
@import "custom/slider";

body {
  padding-top: 70px;
}
a, .pointer {
	cursor: pointer;
}

.jumbotron {
  background-color: #fff;
  border: 1px solid #ddd;

	h1 {
		margin-top: 0;
		font-size: 3em;
		
		span {
			font-size: 0.8em;
		}
	}
}

.link {
	cursor: pointer;
	color: $link-color;

	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

.github {
  	color: $github;

  	&:hover {
	  color: darken($github, 10%);
	}
}

.mark-watched {
  margin-top: 30px;
}

unwatched >.row {
  margin-bottom: 30px;

  .spacer{
	margin-bottom: 30px;
  }

  #episodes {
	h2 {
	  small {
		display: inline-block;
	  }
	}
  }
}

@media(min-width: $screen-lg-min) {
  .pull-left-lg {
	float: left;
  }
}