<div class="row">
	<div class="col-lg-4 col-lg-push-4">
		<table class="table" ng-show="imdb_ids">
			<thead>
				<tr>
					<th>Show</th>
					<th>imdb id</th>
					<th>accept</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="imdb in imdb_ids | orderBy:'showid'">
					<td>{{ imdb.showname }}</td>
					<td><a ng-href="//www.imdb.com/title/{{ imdb.imdb_id }}/" target="_blank">{{ imdb.imdb_id }}</a></td>
					<td><span class="glyphicon glyphicon-ok text-success pointer" ng-click="acceptIMDbId(imdb.id)"></span></td>
				</tr>
			</tbody>
		</table>

		<p ng-show="!imdb_ids">No unanswered submissions for imdb ids.</p>
	</div>
</div>