<!DOCTYPE html>
<html lang="en" ng-app="krushaTV" ng-controller="parentCtrl">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - krushaTV</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <!-- scripts -->
        <script src="/static/javascripts/bower_components/jquery/dist/jquery.js"></script>
        <script src="/static/javascripts/bower_components/angular/angular.js"></script>
        <script src="/static/javascripts/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/static/javascripts/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/static/javascripts/bower_components/angular-route/angular-route.js"></script>
        <script src="/static/javascripts/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/static/javascripts/bower_components/angular-touch/angular-touch.js"></script>
        <script src="/static/javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navCtrl">
          <div class="container-fluid" ng-init="col.isCollapsed = true">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" ng-click="col.isCollapsed = !col.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" ng-click="col.isCollapsed = true">
                 <svg height="40" width="60"
                       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                      <svg preserveAspectRatio="xMinYMin" >
                          <image x="0" y="0" height="60" width="60" xlink:href="/static/images/krushaTV.svg" />
                      </svg>
                  </svg>
                  <span>krushaTV</span>
              </a>
            </div>

            <div class="collapse navbar-collapse" id="krusha-navbar" collapse="col.isCollapsed">
                <form class="navbar-form navbar-left hidden-xs" role="search" ng-controller="mainCtrl" ng-submit="getResults(search_input)">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search show" ng-model="search_input" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="getResults(search_input)">
                    </div>
                    <button type="submit" class="btn btn-default hidden-sm">Search <i class="fa fa-search"></i></button>
                </form>

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/search" class="visible-xs" ng-click="col.isCollapsed = true">Search</a></li>
                </ul>

                <div ng-controller="navLoginCtrl">
                    <ul class="nav navbar-nav navbar-left hidden-sm hidden-md" ng-show="loggedin">
                        <li><a href="/track" ng-click="col.isCollapsed = true">Tracked Shows</a></li>
                        <li><a href="/unwatched" ng-click="col.isCollapsed = true">Unwatched Episodes</a></li>
                        <li><a href="/watched" ng-click="col.isCollapsed = true">Watched Episodes</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left visible-sm visible-md" ng-show="loggedin">
                        <li class="dropdown"><a href class="dropdown-toggle">Your Shows <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/track">Tracked Shows</a></li>
                                <li><a href="/unwatched">Unwatched Episodes</a></li>
                                <li><a href="/watched">Watched Episodes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="!loggedin">
                        <li><a href="/signup" ng-click="col.isCollapsed = true"><i class="fa fa-lg fa-pencil"></i> Sign Up</a></li>
                        <li><a href="" ng-click="loginButton(); col.isCollapsed = true" class="visible-xs visible-sm"><i class="fa fa-lg fa-sign-in"></i> Login</a></li>
                        <li><a href="" ng-click="open()" class="visible-md visible-lg"><i class="fa fa-lg fa-sign-in"></i> Login</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" ng-show="loggedin">
                        <li ng-if="user.name"><a href="/profile" ng-click="col.isCollapsed = true"><i class="fa fa-lg fa-user"></i> {{ user.name }}<span class="hidden-sm hidden-md"> - Settings</span></a></li>
                        <li><a href="" ng-click="logout(); col.isCollapsed = true"><i class="fa fa-lg fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div>

            </div>
          </div>
        </nav>



        <div ng-controller="notificationsCtrl">
            <growl-notifications>
                <div ng-repeat="(id, n) in notifications track by id">
                    <growl-notification ttl="{{ n.ttl }}" ng-class="n.class" class="fading">
                        <p>{{ n.message }}</p>
                        <ul class="list-inline pull-right" ng-if="n.link || n.close">
                            <li ng-if="n.link"><a href="#" ng-click="n.link.link_function(); $growlNotification.remove()">{{ n.link.text }}</a></li>
                            <li ng-if="n.close"><a href="#" ng-click="$growlNotification.remove()">Close</a></li>
                        </ul>
                    </growl-notification>
                </div>
            </growl-notifications>
        </div>

        <div class="container-fluid" ng-view></div>

        <footer>
            <ul class="list-inline pull-right hidden-xs">
                <li><a href="http://www.github.com" target="_blank" class="github">View source on <strong><i class="fa fa-github"></i> Github</strong></a></li>
                <li><a href="">krushaTV</a></li>
            </ul>
            <ul class="list-unstyled visible-xs">
                <li><a href="/">krushaTV</a></li>
                <li><a href="http://www.github.com" target="_blank" class="github">View source on <strong><i class="fa fa-github"></i> Github</strong></a></li>
            </ul>
        </footer>
        <script src="/static/javascripts/bower_components/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
        <script src="/static/javascripts/bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
        <script src="/static/javascripts/bower_components/ng-clip/dest/ng-clip.min.js"></script>
        <script src="/static/javascripts/krusha.min.js"></script>
    </body>
</html>