<a id="profile_top"></a>
<div class="row">
	<div class="col-md-12 profile">
		<tabset vertical="true" type="pills">
			<tab>
				<tab-heading>
					<i class="fa fa-user"></i> Profile
				</tab-heading>
				<h1><i class="fa fa-user"></i> Profile</h1>
				<hr/>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<h2><i class="fa fa-book"></i> Info</h2>
						<ul class="list-unstyled">
							<li class="username">Username: <strong>{{ ::username }}</strong></li>
							<li>Total tracked shows: <strong>{{ ::total_shows }}</strong></li>
							<li>Total watched episodes: <strong>{{ ::total_episodes }}</strong></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<h2><i class="fa fa-globe"></i> Links</h2>
						<ul class="list-unstyled">
							<li><a href="/track">Look at the shows you are tracking.</a></li>
							<li><a href="/unwatched">Look at your unwatched episodes.</a></li>
							<li><a href="/watched">Look at your watched episodes.</a></li>
						</ul>
					</div>
				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-calendar"></i> Date
				</tab-heading>

				<h1><i class="fa fa-calendar"></i> Date Settings</h1>
				<hr/>
				<div>
					<h2>Episode Offset</h2>
					Offset: <span><strong>{{ days }}</strong> days </span><span ng-if="hours"><strong>{{ hours }}</strong> hours</span> <success timeout="5000" success="setOffsetSuccess.value"/>
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-xs-12">
									Days: <strong>{{ offset.days }}</strong>
									<div><slider min="-7" max="7" step="1" ng-model="offset.days" on-slide-stop="setOffset(offset)"></slider></div>
								</div>
								<div class="col-xs-12">
									Hours:  <strong>{{ offset.hours }}</strong>
									<div><slider min="-23" max="23" step="1" ng-model="offset.hours" on-slide-stop="setOffset(offset)"></slider></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<hr class="visible-xs"/>
							<h3>Example</h3>
							<ul class="list-unstyled">
								<li>Airdate: {{ now | date: dateFormat }}</li>
								<li ng-if="dateDisplayed">Displayed at: <strong>{{ dateDisplayed | date: dateFormat + ' HH:mm'}}</strong></li>
							</ul>
						</div>
					</div>
				</div>
				<hr/>
				<div>
					<div class="row date-format">
						<div class="col-sm-6 col-lg-4">
							<h2>Date Format</h2>

							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<select class="form-control" ng-model="dateFormat" ng-options="format as label for (format, label) in dateFormats" ng-change="changeDateFormat(dateFormat)">
										</select>
									</div>
								</div>
								<div class="col-lg-2">
									<success timeout="5000" success="changeDateFormatSuccess.value"></success>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-offset-2 example">
							<h3>Example</h3>
							{{ now | date: dateFormat }}
						</div>
					</div>
				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-eye"></i> Display
				</tab-heading>

				<h1><i class="fa fa-eye"></i> Display</h1>

				<hr/>

				<h2>reddit</h2>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="display.reddit" ng-change="changeDisplaySetting(display)"> display reddit threads
					</label>
				</div>

				<hr/>

				<h2>IMDb</h2>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="display.imdb" ng-change="changeDisplaySetting(display)"> display IMDb info
					</label>
				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-keyboard-o"></i> Shortcuts
				</tab-heading>
				<h1><i class="fa fa-keyboard-o"></i> Shortcuts</h1>
				<hr/>
				<h2>Global</h2>
				<ul class="list-unstyled shortcuts">
					<li ng-repeat="key in ::shortcuts">
						<kbd>{{ ::key.combo[0] }}</kbd> {{ :: key.description }}
					</li>
				</ul>
				<hr/>
				<h2>Calendar</h2>
				<ul class="list-unstyled shortcuts">
					<li>
						<kbd><i class="fa fa-long-arrow-left"></i></kbd> go to previous month/week/day
					</li>
					<li>
						<kbd><i class="fa fa-long-arrow-right"></i></kbd> go to next month/week/day
					</li>
				</ul>
			</tab>
			<tab ng-if="admin" select="getIMDbIds()">
				<tab-heading>
					<i class="fa fa-pencil imdb"></i> IMDb id submissions
				</tab-heading>
				<h1><i class="fa fa-pencil"></i> IMDb id submissions</h1>
				<hr/>
				<table class="table" ng-if="imdb_ids">
					<thead>
					<tr>
						<th>Show</th>
						<th>imdb id</th>
						<th>accept</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="imdb in imdb_ids | orderBy:'showid'">
						<td>{{ imdb.showname }}</td>
						<td><a ng-href="//www.imdb.com/title/{{ imdb.imdb_id }}/" target="_blank">{{ imdb.imdb_id }}</a></td>
						<td><i class="fa fa-check text-success pointer" ng-click="acceptIMDbId(imdb.id)"></i></td>
					</tr>
					</tbody>
				</table>

				<p ng-show="!imdb_ids">No unanswered submissions for imdb ids.</p>
			</tab>
			<tab ng-if="admin" select="getSubreddits()">
				<tab-heading>
					<i class="fa fa-pencil reddit-color"></i> subreddit submissions
				</tab-heading>
				<h1><i class="fa fa-pencil"></i> subreddit submissions</h1>
				<hr/>
				<table class="table" ng-show="subreddits">
					<thead>
					<tr>
						<th>Show</th>
						<th>subreddit</th>
						<th>accept</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="sub in subreddits | orderBy:'showid'">
						<td>{{ sub.showname }}</td>
						<td><a ng-href="//www.reddit.com{{ sub.subreddit }}" target="_blank">{{ sub.subreddit }}</a></td>
						<td><i class="fa fa-check text-success pointer" ng-click="acceptSub(sub.id)"></i></td>
					</tr>
					</tbody>
				</table>

				<p ng-show="!subreddits">No unanswered submissions for subreddits.</p>
			</tab>
			<tab ng-if="admin" select="getShowsWoImdbId()">
				<tab-heading>
					<i class="fa fa-pencil wo-imdb-color"></i> shows without imdb id
				</tab-heading>
				<h1><i class="fa fa-pencil"></i> Shows without imdb id</h1>
				<hr/>

				<pagination ng-change="getShowsWoImdbId()" total-items="addImdb.total_count" items-per-page="5" ng-model="addImdb.current_page" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
				<table class="table">
					<thead>
					<tr>
						<th>Show</th>
						<th>Ended</th>
						<th>imdb id</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="show in addImdb.shows">
						<td><a href="{{ IMDbSearchLink( show.name ) }}" target="_blank">{{ show.name }}</a></td>
						<td><i class="fa fa-check" ng-if="!show.ended"></i><i class="fa fa-times" ng-if="show.ended"></i></td>
						<td>
							<form ng-submit="submitIMDbId( show.id, imdb_url )">
								<div class="form-group">
									<label for="new-imdb-id" class="sr-only">IMDb id</label>
									<input type="text" class="form-control" id="new-imdb-id" placeholder="IMDb id" ng-model="imdb_url">
								</div>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</tab>
		</tabset>
		<button class="btn btn-default btn-large visible-xs up" scroll-to="#profile_top">Up</button>
	</div>
</div>
<loadingspinner></loadingspinner>