<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="mobileSearch" class="sr-only">Search</label>
			<input type="search" id="mobileSearch" name="mobileSearch" class="form-control visible-xs search-input" placeholder="Search" ng-model="mobSearchText" ng-change="mobileSearch(mobSearchText)" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }"/>
		</div>
		<button class="btn btn-default visible-xs" ng-click="clearSearch(mobSearchText)">Clear</button>
		<div class="page-header hidden-xs" ng-show="result.length > 0">
			<h1>Search Results</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4 search" ng-show="result.length > 0">
		<div class="card seasons">
			<ul class="list list-unstyled">
				<li ng-repeat="show in result track by show.showid" ng-click="getShow(show)"><span class="show-text">{{ ::show.name }}</span> <span class="glyphicon glyphicon-ok text-success" tooltip="tracked" ng-if="show.tracked"></span></li>
			</ul>
		</div>
		<loadingspinner/>
	</div>
</div>