<div class="row">
	<div class="col-xs-12">
		<div class="row visible-xs">
			<div class="form-group col-xs-8">
				<label for="mobileSearch" class="sr-only">Search</label>
				<input type="search" id="mobileSearch" name="mobileSearch" class="form-control search-input" placeholder="Search" ng-model="mobSearchText" ng-change="mobileSearch(mobSearchText)" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }"/>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-default pull-right" ng-click="clearSearch(mobSearchText)">Clear <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="page-header hidden-xs" ng-show="result.length > 0">
			<h1>Search Results</h1>
		</div>
	</div>
</div>
<div class="row search">
	<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3" ng-show="result.length > 0">
		<div class="card">
			<div ng-repeat="show in result track by show.showid" class="search-result-item">
				<span class="show-text" ng-click="getShow(show)">{{ ::show.name }}</span>
				<span class="glyphicon glyphicon-ok text-success" tooltip="tracked" ng-if="show.tracked"></span>
				<genre-labels genres="show.genre"></genre-labels>
				<hr/>
			</div>
		</div>
		<loadingspinner/>
	</div>
</div>