<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>{{ ::show.name }} <small>{{ ::show.genre }}</small></h1>
		</div>
	</div>
</div>

<div class="row" ng-if="loggedin">
	<div class="col-xs-12">
		<div class="card controls">
			<ul class="list-inline">
				<li ng-if="loggedin">
					<a ng-click="track(show, tracked)" class="pointer"><i class="fa"
									 ng-class="{'fa-plus': !tracked, 'text-success': !tracked, 'fa-minus': tracked, 'text-danger': tracked}"
									 ></i> Track Show</a>
				</li>
				<li ng-if="tracked">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="showWatched" ng-change="SaveShowWatched(showWatched)"> Show watched episodes
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row show" ng-if="unwatchedSeasons()" scrollfix>
	<div class="col-sm-4 col-xs-12 spacer seasons-relative" id="seasons">
		<div class="card">
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="season in seasons | orderBy: 'season'"
					ng-class="{active: season.active}"
					ng-if="showWatched || season.episode_count > season.watched_count"><a ng-click="getEpisodes(show.id, season.season)">Season {{ ::season.season }} <span class="label label-default pull-right" ng-if="tracked && season.episode_count > season.watched_count" tooltip="{{ season.episode_count - season.watched_count }}/{{ season.episode_count }} unwatched">Unwatched</span></a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8 col-xs-12" id="episodes">
		<div class="card">
			<h2 class="visible-xs">{{ ::show.name }} <small>Season {{ active_season }}</small></h2>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Nr</th>
						<th>Title</th>
						<th>Airdate</th>
						<th ng-if="tracked" class="hidden-xs">Watched</th>
						<th ng-if="tracked" class="visible-xs">W.</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="episode in episodes | orderBy: 'episode'" ng-if="showWatched || !episode.watched" ng-class="{'success': lessThanAWeek(episode.airdate)}">
						<td>{{ ::episode.episode }}</td>
						<td>{{ ::episode.title }}</td>
						<td>{{ ::episode.airdate | date: dateFormat }}</td>
						<td ng-if="tracked">
							<i class="fa pointer"
								  ng-class="{ 'fa-check': episode.watched, 'text-success': episode.watched, 'fa-minus': !episode.watched, 'text-danger': !episode.watched}"
								  ng-click="watchedEpisode(episode)"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-12 visible-xs">
		<div class="card-small">
			<p class="text-center">
				<button type="button" class="btn btn-default" scroll-to="#seasons"><i class="fa fa-chevron-up"></i> Go to seasons</button>
			</p>
		</div>
	</div>
</div>

<div class="row" ng-if="!unwatchedSeasons()">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<div class="card">
			<p class="text-center">No unwatched episodes for <em>{{ ::show.name }}</em>.</p>

			<p class="text-center">
				<button class="btn btn-primary" ng-click="SaveShowWatched(true)">Show watched episodes</button>
			</p>
		</div>
	</div>
</div>

<div class="row" ng-if="::display.imdb">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">


		<div class="card info">
			<h2>{{ ::show.name }}</h2>
			<ul class="list-unstyled">
				<li><span ng-if="omdb.imdbRating">Runtime: <strong>{{ ::omdb.Runtime }}</strong>, </span>Genres: <strong>{{ ::show.genre }}</strong></li>
				<li ng-if="omdb.imdbRating">Rating: <strong>{{ ::omdb.imdbRating }}</strong>/10 at <a ng-href="http://www.imdb.com/title/{{ ::show.imdbid }}/" target="_blank">IMDb</a></li>
				<li ng-if="omdb.imdbRating"><a ng-href="http://www.imdb.com/title/{{ ::show.imdbid }}/epdate?ref_=ttep_ql_4" target="_blank">List of episodes at IMDb</a></li>
				<li ng-if="omdb.imdbRating"><a ng-href="http://graphtv.kevinformatics.com/{{ ::show.imdbid }}" target="_blank">Graph ratings at graphTV</a></li>
			</ul>
			
			<p ng-if="omdb.imdbRating">Info by <a href="http://www.omdbapi.com" target="_blank">OMDb API</a> licenced under <a
					href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a>.</p>

			<div ng-show="loggedin && !show.imdbid && show.imdb_submitted !== false">
				<p>Submit IMDb id:</p>
				<form role="form" name="imdbForm" ng-submit="imdbForm.$valid && submitIMDB(imdb, show.id)" ng-show="!submittedImdbId">
					<div class="row">
						<div class="col-sm-10">
							<div class="form-group" ng-class="{'has-error': imdbForm.imdb.$error.imdb}">
								<label for="imdb" class="sr-only">IMDb id</label>
								<input type="text" class="form-control" id="imdb" name="imdb" ng-model="imdb" placeholder="e.g. http://www.imdb.com/title/tt0303461" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" imdb required/>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
						</div>
					</div>
				</form>
				<p ng-show="submittedImdbId">Thank you for submitting <em>{{ submittedImdbId }}</em>! It will be added after it has received approval.</p>
			</div>
			<div ng-show="loggedin && show.imdb_submitted === false">
				<p>The IMDb id you submitted is awaiting verification.</p>
			</div>
		</div>
	</div>
</div>

<div class="row reddit" ng-if="display.reddit && reddit.length >0 ">
	<div class="col-lg-8 col-lg-push-2">
		<div class="card">
			<h2>{{ reddit.length }} hot reddit links</h2>
			<ul class="list list-unstyled">
				<li ng-repeat="r in reddit">
					<h3><a ng-href="{{ ::r.data.url }}" target="_blank" ng-class="{ 'text-success': r.data.stickied }" ng-bind-html="::r.data.title"></a> <small>{{ ::r.data.domain }}</small></h3>
					<p><a href="http://reddit.com{{ ::r.data.permalink }}" target="_blank">{{ ::r.data.num_comments }} comments</a></p>
				</li>
			</ul>
			<p class="text-center pointer" ng-click="nextFive()">Show 5 more</p>
			<p class="text-center pointer" ng-click="nextFive()"><i class="fa fa-chevron-down"></i></p>
		</div>
	</div>
</div>

<loadingspinner></loadingspinner>

<div class="row reddit" ng-if="display.reddit && reddit.length==0 && loggedin && show.subreddit !== false">
	<div class="col-lg-6 col-lg-push-3">
		<div class="card">
			<h2>reddit</h2>
			<p ng-show="!submittedRedditText">You know the subreddit for this show? Past the link here:</p>
			<form role="form" name="subredditForm" ng-submit="subredditForm.$valid && submitSubreddit(subreddit, show.id)" ng-show="!submittedRedditText">
				<div class="row">
					<div class="col-sm-10 col-lg-11">
						<div class="form-group" ng-class="{'has-error': subredditForm.subreddit.$error.subreddit}">
							<label for="subreddit" class="sr-only">subreddit</label>
							<input type="text" class="form-control" id="subreddit" name="subreddit" ng-model="subreddit" placeholder="e.g. http://www.reddit.com/r/tvShow" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" subreddit required/>
						</div>
					</div>
					<div class="col-sm-2 col-lg-1">
						<div class="form-group">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</div>
			</form>
			<p ng-show="submittedRedditText">Thank you for submitting <em>{{ submittedRedditText }}</em>! It will be added after it has received approval.</p>
		</div>
	</div>
</div>

<div class="row reddit" ng-if="display.reddit && show.subreddit === false && loggedin">
	<div class="col-lg-6 col-lg-push-3">
		<div class="card">
			<h2>reddit</h2>
			<p>The subreddit you submitted is awaiting verification.</p>
		</div>
	</div>
</div>