<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>Tracked Shows</h1>
		</div>
	</div>
</div>
<div class="row" ng-init="order = orderByName; reverse=false">
	<div class="col-lg-6 col-lg-push-3">
		<div class="card seasons">
			<table class="table table-striped">
				<thead>
					<tr>
						<th ng-click="order = orderByName; reverse=!reverse" class="pointer">Show</th>
						<th ng-click="order = 'ended'; reverse=!reverse" class="pointer hidden-xs">Running</th>
						<th ng-click="order = 'ended'; reverse=!reverse" class="pointer visble-xs">Run.</th>
						<th ng-click="order = 'season_count'; reverse=!reverse" class="pointer hidden-xs">Seasons</th>
						<th ng-click="order = 'episode_count'; reverse=!reverse" class="pointer hidden-xs">Episodes</th>
						<th ng-click="order = 'unwatched'; reverse=!reverse" class="pointer hidden-xs">Unwatched Episodes</th>
						<th ng-click="order = 'unwatched'; reverse=!reverse" class="pointer visible-xs">Unw. Epi.</th>
						<th class="hidden-xs">Untrack</th>
						<th class="visible-xs">Unt.</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="show in shows | orderBy: order: reverse">
						<td><a ng-href="/show/{{ show.id }}">{{ ::show.name }}</a></td>
						<td><i class="fa" ng-class="{'fa-check text-success': !show.ended, 'fa-times': show.ended}"></i></td>
						<td class="hidden-xs">{{ ::show.season_count }}</td>
						<td class="hidden-xs">{{ ::show.episode_count }}</td>
						<td ng-init="show.unwatched = show.episode_count - show.watched_count">{{ ::show.unwatched }}</td>
						<td><i class="fa fa-minus text-danger pointer" ng-click="doNotTrack(show)"></i></td>
					</tr>
				</tbody>
			</table>

			<p ng-if="!shows">You do not track any shows yet.</p>
		</div>
	</div>
</div>