<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>Unwatched Episodes</h1>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="card">
			<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="#">Lorem ipsum dolor.</a></li>
			<li role="presentation"><a href="#">Autem, distinctio, perspiciatis.</a></li>
			<li role="presentation"><a href="#">Aspernatur, hic, inventore.</a></li>
			<li role="presentation"><a href="#">Assumenda eligendi, modi?</a></li>
			<li role="presentation"><a href="#">Libero, perferendis unde!</a></li>
			<li role="presentation"><a href="#">Et, laudantium, nobis.</a></li>
			<li role="presentation"><a href="#">Accusantium, numquam rem.</a></li>
			<li role="presentation"><a href="#">Doloremque, sint, vel?</a></li>
			<li role="presentation"><a href="#">Impedit minus, voluptates?</a></li>
			<li role="presentation"><a href="#">Itaque, maxime, recusandae!</a></li>
			<li role="presentation"><a href="#">Error nostrum, voluptates.</a></li>
			<li role="presentation"><a href="#">Mollitia, nisi, ratione?</a></li>
			<li role="presentation"><a href="#">Mollitia, nisi, nulla?</a></li>
			<li role="presentation"><a href="#">Nisi, quibusdam veniam!</a></li>
			<li role="presentation"><a href="#">Atque, harum reiciendis!</a></li>
			<li role="presentation"><a href="#">Blanditiis, pariatur, velit.</a></li>
			<li role="presentation"><a href="#">Fugit, repudiandae, sit!</a></li>
			<li role="presentation"><a href="#">Adipisci, cupiditate, vero.</a></li>
			<li role="presentation"><a href="#">Adipisci architecto, id!</a></li>
			<li role="presentation"><a href="#">Dignissimos facere, in?</a></li>
		</ul>
		</div>
	</div>

	<div class="col-lg-2">
		<div class="card">
			<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="">Season 1</a></li>
			<li><a href="">Season 2</a></li>
			<li><a href="">Season 3</a></li>
			<li><a href="">Season 4</a></li>
			<li><a href="">Season 5</a></li>
			<li><a href="">Season 6</a></li>
			<li><a href="">Season 7</a></li>
			<li><a href="">Season 8</a></li>
			<li><a href="">Season 9</a></li>
			<li><a href="">Season 10</a></li>
			<li><a href="">Season 11</a></li>
			<li><a href="">Season 12</a></li>
			<li><a href="">Season 13</a></li>
			<li><a href="">Season 14</a></li>
			<li><a href="">Season 15</a></li>
			<li><a href="">Season 16</a></li>
			<li><a href="">Season 17</a></li>
			<li><a href="">Season 18</a></li>
		</ul>
		</div>
	</div>

	<div class="col-lg-7">
		<div class="card">
			<table class="table table-condensed table-striped ng-scope">
			<thead>
				<tr>
					<th>Nr</th>
					<th>Title</th>
					<th>Airdate</th>
					<th>Watched</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td>1</td>
				<td>Lorem ipsum dolor.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>2</td>
				<td>Architecto dolores, dolorum.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>3</td>
				<td>Consequuntur, facere praesentium.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>4</td>
				<td>Harum, repudiandae, vitae.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>5</td>
				<td>Doloribus, quam voluptas!</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>6</td>
				<td>Dolore, excepturi, minus.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>7</td>
				<td>Autem, nesciunt temporibus.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>8</td>
				<td>Est, mollitia, perferendis!</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>9</td>
				<td>Neque, quas, voluptas!</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>10</td>
				<td>Aliquid, hic voluptas.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>11</td>
				<td>A, laboriosam, repellendus?</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>12</td>
				<td>Maiores, minima, qui?</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>13</td>
				<td>Iusto, odit quasi!</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>14</td>
				<td>Eius, iure ratione!</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>15</td>
				<td>Dolorum, praesentium, rerum.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>16</td>
				<td>Illum, similique voluptate?</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>17</td>
				<td>Aut sunt, voluptatum.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>18</td>
				<td>Iste, nesciunt, repellendus?</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>19</td>
				<td>Labore, optio, voluptatem.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>20</td>
				<td>Maiores, nemo quod.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>21</td>
				<td>Dignissimos hic, similique.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>22</td>
				<td>Ad, placeat, quos?</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>23</td>
				<td>Aperiam, eveniet, recusandae!</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			<tr>
				<td>24</td>
				<td>Dolorum magnam, quas.</td>
				<td>2014-11-02</td>
				<td><span class="glyphicon pointer glyphicon-remove text-danger"></span></td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>