.calendar {
  td.inactive {
    background-color: #D2E1FC !important;
  }

  &.table {
    td {
      padding: 0;
    }
  }

  .date {
    background-color: #F7F7F7;
    padding: 3px;
    cursor: pointer;

    span {
      display: none;
    }
  }

  &.week {
    .date {
      span {
        @media (max-width: $screen-xs-max) {
          display: inline;
          text-align: right;
          float: right;
          font-weight: bold;
        }
      }
    }
  }

  ul.list-unstyled {
    margin: 10px;
  }

  li.watched {
    color: #7D7E7E;
    a {
      color: #95A0B8;

      &:hover {
        color: $link-hover-color;
      }
    }

    &:hover {
      color: $text-color;

      a {
        color: $link-hover-color;
      }
    }

    .fa.fa-check {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .fa.fa-check {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    &.week {
      thead {
        display: none;
      }

      tbody {
        td {
          display: block;
        }
      }
    }
  }
}

calendar {
  .spinner {
    margin: 20px auto 0;
  }

  .calendar-mode {
    padding-bottom: 10px;
  }
}

.calendar-heading {
  &.week {
    font-size: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .calendar-heading {
    font-size: 30px;
  }
}

@media (min-width: $screen-sm-min) {
  .calendar-heading {
    text-align: right;
    margin-top: 0;
  }
}