.card {
  background-color: $card-bg;
  border: $card-border;
  padding: 30px;
}

.card-small {
  background-color: $card-bg;
  border: $card-border;
  padding-top: 10px;
}

.card-last {
  margin-bottom: 20px;
}