.container,
.col-sm-4,
.col-md-3,
.col-lg-4, .abc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.row-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row-flex > div {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

@media (min-width: $screen-sm-min) {
  .col-sm-4 {
    -webkit-flex-basis: 33.333333333333336% !important;
    flex-basis: 33.333333333333336% !important;
  }
}

@media (min-width: $screen-md-min) {
  .col-md-3 {
    -webkit-flex-basis: 25% !important;
    flex-basis: 25% !important;
  }
}

@media (min-width: $screen-lg-min) {
  .col-lg-3 {
    -webkit-flex-basis: 25% !important;
    flex-basis: 25% !important;
  }
  .col-lg-4 {
    -webkit-flex-basis: 33.333333333333336% !important;
    flex-basis: 33.333333333333336% !important;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50% !important;
    flex-basis: 50% !important;
  }
}