.navbar {
  a {
    .fa {
      color: $navbar-glyphicon-color;
    }

    &:hover {
      .fa {
        color: $navbar-glyphicon-hover-color;
      }
    }
  }

  .navbar-brand {
    padding-top: 5px;
    
    div {
      display: inline-block;
      width: 60px;
      height: 40px;
      overflow: hidden;
    }

    span {
      position: relative;
      top: -12px;
      left: 5px;
    }
  }

  .profile-link {
    @media(min-width: $screen-lg-min) {
      max-width: 135px;
    }
    
    @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      max-width: 170px;
    }
    
    @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
      max-width: 305px;
    }

    @media(min-width: $screen-sm-min) {
      overflow: hidden;

      > a {
        white-space: nowrap;
      }
    }
  }
}