@import "compass/css3/box-shadow";

growl-notifications {
	position: fixed;
  	z-index: 1000;
}

growl-notification {
  	z-index: 1001;
    display: block;

	&.info {
		background-color: $state-info-text;
		border-color: $state-info-border;
	}

	&.success {
		background-color: $state-success-bg;
		border-color: $state-success-border;
	}

	&.warning {
		background-color: $state-warning-bg;
		border-color: $state-warning-border;
	}

	&.danger {
		background-color: $state-danger-bg;
		border-color: $state-danger-border;
	}

	&.fading.ng-move{
	  opacity: 0;
	  -webkit-transition: 0.1s linear all; /* Safari/Chrome */
	  transition: 0.1s linear all; /* All other modern browsers and IE10+ */
	}

	&.fading.ng-move.ng-move-active {
	  opacity: 1;
	}
	&.fading.ng-leave {
	  opacity: 1;
	  -webkit-transition: 1s linear all; /* Safari/Chrome */
	  transition: 1s linear all; /* All other modern browsers and IE10+ */
	}

	&.fading.ng-leave.ng-leave-active {
	  opacity: 0;
	}
}

@media (min-width: $screen-sm-min) {
  growl-notifications {
	right: 10px;
	top: 80px;
  }

  growl-notification {
	@include box-shadow(5px 5px 10px #DDD);
	padding: 20px 30px;
	margin-bottom: 15px;
	margin-left: 10px;
  }
}

@media (max-width: $screen-sm-min) {
  growl-notifications {
	width: 100%;
	display: block;
	top: 50px;
  }

  growl-notification {
	width: 100%;
	padding: 5px 5px 5px 15px;
	display: block;
	border: 1px solid #000;
  }
}