.search {

  .search-result-item {
	margin-bottom: 10px;

	> .show-text {
	  cursor: pointer;
	  color: $link-color;

	  &:hover {
		color: $link-hover-color;
		text-decoration: underline;
	  }
	}
  }
}

.search-input {
  margin-bottom: 20px;
}

genre-labels {
  .label {
	margin-right: 7px;

	&:last-child {
	  margin-right: 0;
	}
  }
}

.mobile-search {
  .spinner {
	margin-top: 5px;
  }
  
  .form-group {
	margin-bottom: 0;
  }
  
  .buttons {
	margin-bottom: 5px;
  }
}

@media (max-width: $screen-sm-min) {
  genre-labels {
	display: block;

	.label {
	  &:nth-child(n+4) {
		display: none;
	  }
	}
  }
  .search {
	.search-result-item {
	  > .show-text {
		font-size: $font-size-large;
	  }
	}
  }
}

@media (min-width: $screen-sm-min) {
  .search {
	margin-bottom: 20px;
  }

  genre-labels {
	float: right;
  }
}