.search {

  li > .show-text {
	  cursor: pointer;
	  color: $link-color;

	  &:hover {
		  color: $link-hover-color;
		  text-decoration: underline;
	  }
  }
}

.search-input {
  margin-bottom: 20px;
}