.controls {
  padding: 24px 20px 15px 20px;
  margin-bottom: 20px;

  li {
    margin-left: 30px;
  }

  .checkbox {
    margin: 0;
  }

  @media (max-width: $screen-xs-max) {
    .list-inline {
      > li {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

.seasons {
  margin-bottom: 50px;
}

@media (max-width: $screen-xs-max) {
  .show-genres {
    display: block;
  }
}

.info {
  padding: 30px 50px;
  margin-top: 10px;
  margin-bottom: 50px;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: $card-border;
  }

  li {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
  }
}

.reddit {
  .card {
    padding: 30px 50px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: $card-border;
  }
}

@media (min-width: $screen-sm-min) {
  .show {
    position: relative;

    .seasons-fixed {
      position: fixed;
    }

    .seasons-static {
      position: absolute;
      bottom: 0;
    }

    .seasons-relative {
      position: relative;
    }

    #episodes {
      float: right;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .show {
    #seasons {
      margin-bottom: 10px;
    }
  }
}