$github: #4F4F4F;
$card-border: 1px solid #dedede;
$card-bg: #FFF;
$navbar-glyphicon-color: #6E90FA;
$navbar-glyphicon-hover-color: lighten($navbar-glyphicon-color, 3%);

$brand-primary: #5179D0;
$navbar-border-radius: 0;
$navbar-inverse-link-color: #F2F1F1;
$navbar-inverse-brand-color: #5179D0;
$navbar-inverse-brand-hover-color: lighten($navbar-inverse-brand-color, 5%);
$navbar-inverse-link-hover-bg: #3D3D3D;